<section class="order-main-container">
    <section class="order-content">
        <section class="left-col">
            <h2 class="order-title">ORDERS</h2>

            <div class="order-table" ng-repeat="order in orders | filter: {completed: !'true'}">
                <table>

                    <tr>
                        <!-- <td class="tdata">ORDER#:</td> -->
                        <td>{{item.item.name}}</td>
                    </tr><br>
                    <tr>
                        <!-- <td class="tdata">PICKUP:</td>
                        <td>
                            5:05p</td>
                    </tr><br> -->
                    <tr>
                        <td class="tdata">NAME:</td>
                        <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
                    </tr><br>
                    <tr>
                        <td class="tdata">ITEMS:
                        </td>
                        <td>

                            <div ng-repeat="item in order.items">

                                <table>
                                    <tr>
                                        <td class="mini-data">{{item.item.name}}</td>
                                        <td>QTY:{{item.quantity}}</td>
                                    </tr>

                                </table>
                            </div>
                            <button class="order-button" type="button" name="button" ng-click="completeOrder(order._id)">Started</button>
                        </td>
                    </tr>
                </table>
            </div>

        </section>
        <section class="right-col">
            <h2 class="order-title">COMPLETED ORDERS</h2>

            <div class="complete-orders" ng-repeat="order in orders | filter: {completed: 'true'}">
                <table class="info-bar">
                  <tr>
                      <!-- <td class="tdata">ORDER#:</td> -->
                      <td>{{item.item.name}}</td>
                  </tr><br>
                  <tr>
                      <!-- <td class="tdata">PICKUP:</td>
                      <td>
                          5:05p</td>
                  </tr><br> -->
                  <tr>
                      <td class="tdata">NAME:</td>
                      <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
                  </tr><br>
                  <tr>
                      <td class="tdata">ITEMS:
                      </td>
                      <td>

                          <div ng-repeat="item in order.items">

                              <table>
                                  <tr>
                                      <td class="mini-data">{{item.item.name}}</td>
                                      <td>QTY:{{item.quantity}}</td>
                                  </tr>

                              </table>
                          </div>
                      </td>
                  </tr>
                </table>
                <button class="remove-button" type="button" name="button" ng-click="finishedOrder(order._id)">Completed</button>
            </div>

        </section>
    </section>
</section>
