<section class="cart-main-container">
    <div class="cart-listing">
        <h3>Your Cart for {{restaurant.name}}</h3>
        <ul class="cart-items" ng-repeat="items in cart">
            <ul class="cart-product-info">
                <li>Name: {{items.item.name}}</li>
                <li>Description: {{items.item.description}}</li>
                <li ng-if="item.item.size.length">Size: {{items.item.size}}</li>
                <li ng-if="item.item.allergyInfo.length">Allergy Info: {{items.item.allergyInfo}}</li>
            </ul>
        <li><input type="number" name="name" value="{{items.quantity}}" min="0"></li>
        <li>{{items.item.price | currency}}</li>
        <li class="cart-order-controls">
            <button ng-click="updateCart(item.item._id)">Update</button>
            <button ng-click="removeFromCart(item.item._id)">Remove</button>
        </li>
    </ul>
    <hr>
    <div class="cart-total">
        <h4>Total {{total | currency}}</h4>
    </div>
</div>
<aside class="cart-cart">
    <div class="cart-cart-content">
        <h3>Order Summary</h3>
        <hr>
        <h4>Promo Code</h4>
        <input type="text" name="name" placeholder="Enter Promo Code">
        <button type="button" name="button">Submit</button>
        <hr>
        <ul>
          <li>First Name</li>
          <li><input type="text" name="name"></li>
          <li>Last Name</li>
          <li><input type="text" name="name"></li>
          <li>Credit Card Type</li>
          <li><input type="radio" name="name"></li>
          <li>Credit Card Info</li>
          <li><input type="text" name="name" value=""></li>
        </ul>
        <hr>
        <button type="button" name="button" class="cart-place-order" ng-click="submitOrder()"><h3>Place Order</h3></button>
    </div>
</aside>
</section>
