.navbar-header-everypage {
  width: 100vw;
  height: 90px;
  background:   #002521;
  border-bottom: 2px solid #333333;
  font-family: Oswald;
}

.navbar-header-everypage nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77%;
  margin: auto;
  // button{
  //   width: 40px;
  //   height: 40px;
  // }
}

.navbar-header-everypage nav a {
  color: #CCCCCC;
}
.spacer{
  display: inline-block;
  width: 400px;
  height: auto;
}
.nav-logo {
  img{
  width: 82px;
  box-sizing: content-box;
  text-align: right;
  }
}
.nav-icon{
  background-color: #002521;
  border: 0px solid #002521;
  outline: none;
  img{
  width: 32px;
  box-sizing: content-box;
  text-align: right;
  }
}

.footer{
  border-top: 2px solid #666666;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background:   #002521;
  text-align: left;
  margin-top: 30px;
  margin: auto;
  padding: 20px 0px 25px 0px;
  width: 100vw;
  height: auto;
  td{
    font-family: Oswald;
    font-size: 12px;
    padding: 3% 6% 0% 6%;
    // padding: 1vh 3vw 1vh 3vh;

  }
  a{
    color: gray;
  }
}
.footer-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
  width: 50vw;
}
.footer-left{
  width: 55vw;
  height: auto;
  padding: 0px 0px 0px 30px;
}
.footer-right{
  width: 40vw;
  height: auto;
  padding: 0px 30px 0px 5px;
}
.truck{
  display: inline-block;
  height: 5vh;
  width: auto;
}
.footer-info{
  width: auto;
  height: auto;
  color: gray;
  font-size: 12px;
  text-align: right;
  padding: 20px 0px 8px 0px;
  // margin-left: -200px;
}
