.main-nav{
  background:  #333333;
  width: 100vw;
  height: auto;
  border-bottom: 16px solid #00b3a1;
}
.navbar{
  width: 80vw;
  height: auto;
  background:  #333333;
  display: flex;
  flex-direction: row;
  padding: 30px 40px 35px 0px;
  margin: auto;
  color: #E1E1E1;
}
.navbar li{
  padding-right: 40px;
  font-family: Oswald;
  letter-spacing: 1px;
  font-size: 12px;
}
