<section class="home-img-hamburger-container">

<!-- <div class="login-bar">

  <button ng-click="openLogin()" >Login</button>

  <button ng-click="logout()">User Log Out</button>

  <button ng-click="logoutRest()">Restaurant Log Out</button>

</div> -->

  <img class="hamburger-img" src="../app/routes/images/food-banner/sea-taco-big2.jpg"/>
  <div class="catch-phrase-ondemand">
    <p class="slogan">
      FOOD TRUCK ORDERING REDEFINED.
    </p>
    <p class="tagline">
      The finest of food truck fair without the line.
    </p>
    <form class="food-search">
        <input class="search-field" placeholder="Restaurant Search" type="text" name="name" rows="3" cols="40"/>
        <input class="search-button" type="button"/>
    </form>
  </div>

</section>

<section class="three-card-definitions-container">
  <div class="three-card-definitions">
      <img src="../app/routes/images/find3.svg" alt="" />
    <h2>FIND A TRUCK</h2>
    <p>
      Locating a food truck is just a few clicks away with the ease and convenince of purchasing a movie ticket or checking your email.
    </p>
  </div>
  <div class="three-card-definitions">
      <img src="../app/routes/images/phone3.svg" alt="" />
    <h2>PLACE AN ORDER</h2>
    <p>
      Once you've found your truck place an order without having to stand in line. Simply show up and have your order ready to devour.
    </p>
  </div>
  <div class="three-card-definitions">
    <img src="../app/routes/images/burger5.svg" alt="" />
    <h2>EAT UP</h2>
    <p>
      Enjoying your convenient meal is the easiest part with what the heck is this part going to say but I'm sure we can all think of something amazing if we put our heads together.
    </p>
  </div>
</section>





<section class="instructions-container">
  <div class="instruction">
    <img class="hamburger-small-img" src="../app/routes/images/food/bahn-mi.jpg" alt="" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      <span>>></span>
    </p>
  </div>
  <div class="instruction">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      <span>>></span>
    </p>

    <img class="hamburger-small-img" src="../app/routes/images/food/cup-bop.jpg" alt="" />
  </div>
  <div class="instruction">
    <img class="hamburger-small-img" src="../app/routes/images/food/desert-waffles.jpg" alt="" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      <span>>></span>
    </p>

  </div>
</section>
