<section class="home-container">
<section class="home-img-hamburger-container">

<!-- <div class="login-bar">

  <button ng-click="openLogin()" >Login</button>

  <button ng-click="logout()">User Log Out</button>

  <button ng-click="logoutRest()">Restaurant Log Out</button>

</div> -->

  <img class="hamburger-img" src="../app/routes/images/food-banner/sea-taco-big2.jpg"/>
  <div class="catch-phrase-ondemand">
    <p class="slogan">
      FOOD TRUCK ORDERING REDEFINED.
    </p>
    <p class="tagline">
      The finest of food truck fair without the line.
    </p>
    <form class="food-search">
        <input class="search-field" placeholder="Restaurant Search" type="text" name="name" rows="3" cols="40"/>
        <input class="search-button" type="button"/>
    </form>
  </div>

</section>

<section class="three-card-definitions-container">
  <div class="three-card-definitions">
      <img src="../app/routes/images/find-big.svg" alt="" height="50%" width="50%"/>
    <h2>FIND A TRUCK</h2>
    <p>
      Locating a food truck is just a few clicks away with the ease and convenince of purchasing a movie ticket or checking your email.
    </p>
  </div>
  <div class="three-card-definitions">
      <img src="../app/routes/images/phone-big.svg" alt="" height="50%" width="50%"/>
    <h2>PLACE AN ORDER</h2>
    <p>
      Once you've found your truck place an order without having to stand in line. Simply show up and have your order ready to devour.
    </p>
  </div>
  <div class="three-card-definitions">
    <img src="../app/routes/images/burger-big.svg" alt="" height="50%" width="50%"/>
    <h2>EAT UP</h2>
    <p>
      Enjoying your meal is the easiest part with what the heck is this part going to say but I'm sure we can all think of something.
    </p>
  </div>
</section>





<section class="instructions-container">
  <div class="instruction">
    <img class="hamburger-small-img" src="../app/routes/images/food/bahn-mi.jpg" alt="" />
    <h5 class="p-right">
      Search our site for exclusive deals on the food trucks and items you already crave all in your city. <br><span> >></span>
    </h5>
  </div>
  <div class="instruction">
    <h5 class="p-left">
      Skip the line and as soon as your order is ready we'll be sure to let you know through text or email. <br><span> >></span>
    </h5>

    <img class="hamburger-small-img-1" src="../app/routes/images/food/cup-bop.jpg" alt="" />
  </div>
  <div class="instruction">
    <img class="hamburger-small-img" src="../app/routes/images/food/desert-waffles.jpg" alt="" />
    <h5 class="p-right">
      Never lose track of your favorite trucks again with our GPS location and social media services. <br><span> >></span>
    </h5>

  </div>
</section>
</section>
