<div class="">
  <form ng-submit="registerRest(newRestaurant)">
    Name: <input type="text" ng-model="newRestaurant.name" required/>
    Username: <input type="text" ng-model="newRestaurant.username" required/>
    Email: <input type="email" ng-model="newRestaurant.email" required/>
    Phone: <input type="number" ng-model="newRestaurant.phone" required/>
    Password: <input type="password" ng-model="newRestaurant.password" required/>
    <button type="submit">Register as Restaurant</button>
  </form>
</div>
