<div class="center-box">
  <h1>USER LOG IN</h1>

  <form  class="login-form" ng-submit="login(user)">
    <table>
      <tr>
        <td>Email:</td>
        <td><input type="email" ng-model="user.email" required/></td>
      </tr><br>

      <tr>
        <td>Password:</td>
        <td><input type="password" ng-model="user.password" required/></td>
      </tr>

    </table>
    <button class="login-button" type="submit">Restaurant login</button>
  </form>
  <section class="user-box">
      <a ui-sref="usersignup">User Sign Up</a>
  </section>
      <p>Looking for <a ui-sref="trucklogin">Restaurant Login?</a></p>

</div>
