<div class="display-info-class">
    {{restaurantObj.name}}
    {{restaurantObj.email}}
    {{restaurantObj.phone}}
</div>

<div class="">
    <form ng-submit="updateRestaurantInfo(restaurantObj)">
        <input placeholder="Restaurant Name" ng-model="restaurantObj.name">
        <input placeholder="Category" ng-model="restaurantObj.category">
        <!-- <input placeholder="location" ng-model="restaurantObj.location"> -->
        <input placeholder="Phone" ng-model="restaurantObj.phone">
        <!-- location thing that updates it and says that in user feed -->
        <input placeholder="Photos" ng-model="restaurantObj.restaurantImage">
        <button type="submit">Update Restaurant Information</button>
    </form>
</div>

<div class="menu-menu">
    <h3>{{restaurant.name}}Edit Menu</h3>
    <hr>
    <div class="menu-menu-category" ng-repeat="category in menu">
        <div><input ng-if="showCategoryEdit" placeholder="{{category.name}}" ng-model="updateCategory">
            <h4 ng-click="showCategoryEdit = !showCategoryEdit">{{category.name}}</h4>
            <div>
                <ul>
                    <li ng-repeat="item in category.items" ng-click="clickToOpen(item)">
                        <p>{{item.name}}</p>
                        <p>{{item.price | currency}}</p>
                    </li>
                    <li ng-click="AddItem(category.name)">Add new item</li>
                </ul>
                <hr>
            </div>

        </div>

    </div>
    <button ng-click="showinput=!showinput" type="button" name="button">Add New Category +</button>
    <!-- <input ng-if="showinput" ng-model="OneCategory" type="text" name="name"> -->
    <input type="text" name="name" value="" ng-model="NewCategory">
    <button ng-click="addCategory(NewCategory)" ng-if="showinput" type="button" name="button">Add</button>

</div>
