<div class="display-info-class">
  {{restaurantInfo.name}}
  {{restaurantInfo.email}}
  {{restaurantInfo.phone}}
</div>

<div class="">
  <form ng-submit="updateRestaurantInfo(restInfo)">
    <input placeholder="name" ng-model="restInfo.name">
    <input placeholder="location" ng-model="restInfo.location">
    <input placeholder="phone" ng-model="restInfo.phone">
    <!-- location thing that updates it and says that in user feed -->
    <button ng-click="updateRestaurantInfo" type="submit">update restaurant information</button>
  </form>
</div>



<div class="menu-menu">
           <h3>Restuarant Name<input type="text" name="name" value="{{restaurant.name}}"></h3>
           <hr>
           <div class="menu-menu-category" ng-repeat="category in menu">
               <h4>Category of Restaurant<input type="text" name="name" value="{{restaurant.category}}"></h4>
               <ul>
                   <li ng-repeat="item in category.items" ng-click="clickToOpen(item)">
                       <p><input type="text" name="name" value="{{item.name}}"></p>
                       <p>Item Price<input type="text" name="name" value="{{item.price}}"></p>
                   </li>
               </ul>
               <hr>
           </div>
       </div>
