<section class="menu-main-container">
    <section class="menu-all-restaurant-info">
        <div ui-view class="menu-ui"></div>
        <div class="menu-buttons">
            <!-- <button type="button" name="button" ui-sref="menu.information">Information</button>
            <button type="button" name="button" ui-sref="menu.photos">Photos</button>
            <button type="button" name="button" ui-sref="menu.map">Map</button>
            <button type="button" name="button" ui-sref="menu.yelp">Yelp</button> -->

            <a ui-sref="menu.information"><img src="../app/routes/images/info.svg" width="30px" height="30px" alt=""/></a>
            <a ui-sref="menu.photos"><img src="../app/routes/images/photo.svg" width="30px" height="30px" alt="" /></a>
            <a ui-sref="menu.map"><img src="../app/routes/images/map.svg" width="30px" height="30px" alt="" /></a>
            <a ui-sref="menu.yelp"><img src="../app/routes/images/yelp.svg" width="30px" height="30px" alt="" /></a>
        </div>
        <div class="menu-menu">
            <h3>{{restaurant.name}} Menu </h3>
            <hr>
            <div class="menu-menu-category" ng-repeat="category in menu">
                <h4>{{category.name}}</h4>
                <ul>
                    <li ng-repeat="item in category.items" ng-click="clickToOpen(item)">
                        <p>{{item.name}}</p>
                        <p>{{item.price | currency}}</p>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </section>
    <aside class="menu-side-cart">


        <ul class="menu-side-cart-products" ng-repeat="item in cart">

            <li ng-repeat="name in item">{{name.name}}</li>

        </ul>
    <div ng-if="!cart.items.length">Your Cart is Empty</div>
    <button class="menu-checkout-button" type="button" name="button" ui-sref="cart">Checkout</button>
</aside>
</section>
