.menu-modal {
  width: 80vw;
  height: 80%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-main-container {
  display: flex;
  width: 80vw;
  margin: 0px auto;
}

.menu-main-container hr {
  background: #00B3A1;
  border: none;
  height: 1px;
}

.menu-all-restaurant-info {
  width: calc(100%  / 3 * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
}

.menu-buttons{
  width: 300px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.menu-buttons button {
  // background: #00B3A1;
  background-color: white;
  padding: 2px 5px;
  border: none;
  border-radius: 3px;
}
input button {
  background-color: white;
}
.menu-menu {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.menu-menu {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
  }

  ul li {
    width: 50%;
    text-align: left;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
  }

  ul li:hover {
    background: lightgray;
    border-top: 1px solid #00B3A1;
  }

  ul li p {
    margin: 0px 10%;
    // font-family: roboto condensced;
  }
}

.menu-ui {
  width: 100%;
  height: 320px;
  position: relative;
}

.menu-restaurant-header-overlay {
  height: 320px;
  width: 100%;
  background: rgba(0,0,0,.3)
}

.menu-restaurant-header {
  height: 320px;
  width: 100%;
}

.menu-restaurant-header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0,0,0,.6);
  padding: 20px 20px;
  border-radius: 5px;
}

.menu-restaurant-header-info {

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

}

.menu-restaurnt-address-cost {
  display: flex;
  justify-content: space-around;
}

.menu-side-cart {
  width: calc(80%  / 3);
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.menu-side-cart ul {
  display: flex;
  flex-direction: column;
}

.menu-side-cart ul li {
  margin: 5px auto;
}

.menu-checkout-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #00B3A1;
  padding: 10px 25px;
  border: none;
}

/*---Slider---*/
.menu-modal-slideshow {
  height: 320px;
  width: 100%;
}

// ---Modal---

.menu-curtain {
  background: rgba(0,0,0,.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-modal {
  width: 700px;
  height: 420px;
  padding: 40px 80px;
  border-top: 3px solid #00B3A1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-modal-close {
  position: absolute;
  top: 100px;
  right: 262px;
  font-size: 1.5rem;
  padding: 10px 12px;
}

.menu-modal-close:hover {
  border-bottom: 1px solid black;
}

.menu-modal {
  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    color: gray;
  }

  h4 {
    margin-bottom: 10px;
  }

  textarea {
    width: 100%;
    border: 1px solid #00B3A1;
  }
}

.menu-modal-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-modal-quantity-controls {

  button {
    background: #00B3A1;
    border: none;
    color: white;
    padding: 5px 12px;
  }

  input {
    width: 2rem;
    text-align: center;
    padding: 4px 0px;
  }

}

.menu-add-to-cart {
  background: #00B3A1;
  padding: 10px 30px;
  border: none;
  border-radius: 2px;
  align-self: flex-end;
}
